.papirsoknad {
  &__vedleggsvalgtoggle {
    .toggleGruppe {
      display: flex;
      margin: 1.5rem 0 0 0;
      @media (max-width: 550px) {
        flex-direction: column;
      }
    }
    .toggleKnapp {
      width: 100%;
      white-space: normal;
      padding: 0.8rem;
      @media (max-width: 550px) {
        min-height: 55px;
      }
      @media (max-width: 320px) {
        min-height: 55px;
      }
    }

    &--button {
      border: none;
    }

    &--container {
      background: white;
      margin: 0 0 0.2em 0;
      border-radius: 2px;
      text-align: center;
      width: 100%;
    }
  }
  &__alertstripe {
    min-width: 100%;
  }
}
