.adressepaneler {
  display: flex;
  flex-direction: column;
  align-content: space-between;

  .ekspanderbartPanel {
    margin-top: 8px;
  }
}

.personalia {
  &__tittel-wrapper {
    padding: 3em 0 1em 0;
  }
}

.visEnheter {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
